*{
    background-color: beige;
}
body{
    
    background-color: tan;
}
h1{
    font-size: 42px;
    font-style: Times New Roman, Arial, Helvetica, sans-serif;
    color:green;
    background-size: auto;
    font-weight: 800;
}
img{
    border-style:  solid;
    border-width: 1px; 
}
.font{
    font-size: 20px;
}
.color{
    color:black;
    display: block ;
    margin-right: 1115px;
    background-color: #9CA6A1;
}

