body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: tan;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.title {
    font-size: 48px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    color: #0066cc;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.chef-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid black;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #0066cc;
    transition: color 0.3s;
}
a:hover {
    color: #ff6600;
}
.font {
    font-size: 20px;
}
.color {
    color: black;
    background-color: #9CA6A1;
    display: inline-flex;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}